/* HEADER */

.horizontal_bar{
    top: 20px;
}

#logo{
    text-decoration: none;
    font-family:"Roboto Medium", sans-serif;
    color: black;
    font-size: 25px;
    margin-left: 3%;
}

#options{
    top: 2%;
    right: 30px;
    position: absolute;
}

#notification{
    top: 2%;
    position: absolute;
    right: 80px;
}

#barra_de_pesquisa{
    position: absolute;
    left: 37%;
    top: 2%;
}

#lupa{
    position: absolute;
    right: 15px;
    top: 3px
}

#menu{
    margin-left: 30px;
}

#cover{
    margin-top: 3%;
}


/* TÍTULO FILMES + LISTAGEM */

#list, #títuloFilmes{
    margin-top: 80px;
    position: absolute;
}

#list{
    margin-left: 78%;
}

#títuloFilmes{
    margin-left: 18%;
}


/* MAIN */

.grid{
    margin-left: 15%;
    margin-top: 150px;
    grid-template-columns: repeat(auto-fit, 15rem);
    width: 70%;
}


/* CARDS */

.card{
    width: 90%;
}

.card img{
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
}

.information h3, h4, h5{
    margin-bottom: 0;
    margin-top: 5px;
}

.information h5, h4{
    font-family: "Roboto Light";
}