*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    border: none;
    text-align: left;
}

@import 'login';
@import 'horizontalBar';
@import 'homepage';
@import 'config';
@import 'compra';